<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
	
<!-- NRT404.html by NRT, Mon, 31 Dec 2018 06:30:06 GMT -->
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#4188c9">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<!-- Title -->
		<title>NRT – Admin Bootstrap4 Responsive Webapp Dashboard Template</title>
		<link rel="stylesheet" href="{% static 'fonts/fonts/font-awesome.min.css' %}">

		<!-- Font Family -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

		<!-- Dashboard Css -->
		<link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />

		<!-- c3.js Charts Plugin -->
		<link href="{% static 'plugins/charts-c3/c3-chart.css' %}" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="{% static 'plugins/scroll-bar/jquery.mCustomScrollbar.css' %}" rel="stylesheet" />

		<!---Font icons-->
		<link href="{% static 'plugins/iconfonts/plugin.css' %}" rel="stylesheet" />
	</head>
	<body class="">
		<div class="page">
			<div class="page-content">
				<div class="container text-center ">
					<div class="display-1 text-primary mb-5"> 404</div>
					<h1 class="h2  mb-3">Page Not Found</h1>
					<p class="h4 font-weight-normal mb-7 leading-normal">Oops!!!! you tried to access a page which is not available. go back to Home</p>
					<a class="btn btn-primary" href="/">
						Back To Home
					</a>
				</div>
			</div>
		</div>

		<!-- Dashboard js -->
		<script src="{% static 'js/vendors/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'js/vendors/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/vendors/jquery.sparkline.min.js' %}"></script>
		<script src="{% static 'js/vendors/selectize.min.js' %}"></script>
		<script src="{% static 'js/vendors/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'js/vendors/circle-progress.min.js' %}"></script>
	</body>

<!-- NRT404.html by NRT, Mon, 31 Dec 2018 06:30:06 GMT -->
</html>