<!DOCTYPE html>
{% load static %}
<html lang="en">
	
<!-- NRT/html/master.html NRT, Tue, 22 Dec 2015 07:03:01 GMT -->
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="images/favicon.ico">
		<title>{% block title %} News Portal {% endblock title %}</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/shortcodes.css' %}" rel="stylesheet">
		<link href="{% static 'css/style-wp.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<!-- only for demo -->
		<link href="{% static 'css/demo-settings.css'%}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>


		<![endif]-->
	</head>
	<body>
		<div class="boxed active">
			<div class="top-bar">
				<div class="container">
					<!-- main menu -->
					<nav class="top-menu">
						<label for="show-top-menu" class="show-menu"><i class="fa fa-bars"></i></label>
						<input type="checkbox" id="show-top-menu">
						<ul class="menu" id="mobile-menu">
							<li>
								<a href="{% url 'home' %}"><i class="fa fa-home"></i></a>
							</li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</nav>
					<!-- end main menu -->
					{% for x in add %}
					{% if x.fb %}
					<span class="top-bar-socials">
					<a href="{{x.fb}}" target="_blank"><i class="fa fa-facebook"></i></a>
						{% endif %}
						{% if x.tw %}
					<a href="{{x.tw}}" target="_blank"><i class="fa fa-twitter"></i></a>
						{% endif %}
						{% if x.yt %}
					<a href="{{x.yt}}" target="_blank"><i class="fa fa-youtube"></i></a>
						{% endif %}
						{% if x.lin %}
					<a href="{{x.lin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
					</span>
				</div>
				{% endif %}
				{% endfor %}
				<!-- end container -->
			</div>
			<!-- end topbar -->
			<!-- header (logo section) -->
			<header class="header">
				<div class="container">
					<div class="logo"><a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logo1.png' %}" alt="logo"></a></div>
					<!-- <h1>Haute Couture</h1>

						<div class="description">black is new red</div>
					<div class="ad-728x90"><a href="#"><img src="{% static 'images/63ab90ec77df97b5ee240724a25d8e72.jpg' %}" style="height:200px;width:800px;" alt="ad728x90"></a></div>
				</div>-->
					<div class="ad-728x90"><a href="https://www.zomato.com/bangalore/restaurants?utm_source=google&utm_medium=cpc&utm_campaign=Gsearch_P-MWeb_O-NA_C-Brand_A-AllUser_SC-Generic_L-PanIndia&utm_term=zomato&gclid=Cj0KCQjw7pKFBhDUARIsAFUoMDauv7eiJ0EVWsX8jLlUtdfwOuPPFxGA8Uk5WEy6ghA1BO5dp0LJ0O0aAmQyEALw_wcB" target="_blank"><img src="{% static 'images/zomoto.webp' %}" style="height:140px;width:700px;" alt="ad728x90"></a></div>


				</div>
			</header>
			<!-- end header (logo section) -->
			<!-- main menu -->
			<nav class="main-menu">
				<div class="container">
					<label for="show-menu" class="show-menu"><i class="fa fa-bars"></i></label>
					<input type="checkbox" id="show-menu">
					<ul class="menu" id="main-mobile-menu">
						<li>
							<a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>

						</li>
						<li><a href="{% url 'country' %}">Country</a></li>

						<li>
							<a href="{% url 'state' %}"><i class="fa fa-pencil-square-o"></i> State <b class="caret"></b></a><span class="sub_menu_toggle"></span>
							<ul class="sub-menu">
								<li><a href="{% url 'ncr' %}">NCR</a></li>
								<li><a href="{% url 'uttarpradesh' %}">Uttar Pradesh</a></li>
								<li><a href="{% url 'bihar' %}">Bihar</a></li>
								<li><a href="{% url 'uttarakhand' %}">Uttarakhand</a></li>
								<li><a href="{% url 'jharkhand' %}">Jharkhand</a></li>
								<li><a href="{% url 'rajasthan' %}">Rajasthan</a></li>
								<li><a href="{% url 'madhyapradesh' %}">Madhya Pradesh</a></li>
								<li><a href="{% url 'maharashtra' %}">Maharashtra</a></li>
								<li><a href="{% url 'haryana' %}">Haryana</a></li>
								<li><a href="{% url 'chhattisgrah' %}">Chhattisgarh</a></li>
								<li><a href="{% url 'himachalpradesh' %}">Himachal Pradesh</a></li>
							</ul>
						</li>
						<li>
							<a href="{% url 'entertainment' %}"><i class="fa fa-pencil-square-o"></i> Entertainment <b class="caret"></b></a><span class="sub_menu_toggle"></span>
							<ul class="sub-menu">
								<li><a href="{% url 'bollywood' %}">Bollywood</a></li>
								<li><a href="{% url 'hollywood' %}">Hollywood</a></li>
								<li><a href="{% url 'television' %}">Television</a></li>
							</ul>
						</li>
						<li>
							<a href="{% url 'ipl' %}"><i class="fa fa-pencil-square-o"></i> IPL</a><span class="sub_menu_toggle"></span></li>
                         <li><a href="{% url 'corona' %}"><i class="fa fa-pencil-square-o"></i>Corona</a></li>

                        		<li>
								<a href="{% url 'career' %}">Career </a><span class="sub_menu_toggle"></span>


						</li>

						<li>
								<a href="#"><i class="fa fa-pencil-square-o"></i> More <b class="caret"></b></a><span class="sub_menu_toggle"></span>
						                      <ul class="sub-menu">
												  {% if request.user.is_authenticated %}
												  		<li><a href="{% url 'careerModel' %}"> Admin</a><span class="sub_menu_toggle"></span></li>
													<li><a href="{% url 'signin' %}">SignUp</a><span class="sub_menu_toggle"></span></li>
													<li><a href="{% url 'logout' %}"> Logout</a><span class="sub_menu_toggle"></span></li>
												  {% else %}
												  		<li><a href="{% url 'login' %}"> Login</a><span class="sub_menu_toggle"></span></li>
												   {% endif %}
												  <li><a href="{% url 'contact' %}">Contact</a></li>
												  </ul>
						</li>

						{% block trending %}
						{% endblock trending %}
						<li class="search-menu">
							<a href="#"><i class="fa fa-search"></i></a><span class="sub_menu_toggle"></span>
							<ul class="sub-menu">
								<li>
									<form method="get" class="navbar-form search" action="/search">
										<div class="input-group">
											<input type="search" class="form-control" placeholder="Type to search" name="query" id="search">
											<span class="input-group-btn"><button type="submit" class="btn btn-default btn-submit"><i class="fa fa-angle-right"></i></button></span>
										</div>
									</form>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<!-- end main menu -->

			{% block content %}
			{% endblock content %}



			<footer class="footer">
				<div class="footer-menu">
					<ul class="menu">
						<li><a href="{% url 'about' %}">About Us</a></li>
						<li><a href="{% url 'contact' %}">Contact Us</a></li>
					</ul>
				</div>
				<div class="container">
					<div class="row">

						<div class="col-md-4 col-sm-4">
							<div class="ot-footer-widget">
								<h4 class="footer-title"><span>About News</span></h4>
								{% for x in add %}
								<p> {{x.about}}</p>

								<p>{{x.address}}</p>

							</div>
                           {% if x.fb %}
							<div class="ot-footer-widget">
								<h4 class="footer-title"><span>Social</span></h4>
								<div class="ot-social-button">
									<a href="{{x.fb}}" target="_blank"><i class="fa fa-facebook"></i></a>
									<div class="ot-social-details">
										<div class="ot-social-count">6k</div>
										<div class="ot-social-type">Likes</div>
									</div>
								</div>
								{% endif %}
								{% if x.tw %}

								<div class="ot-social-button">
									<a href="{{x.tw}}" target="_blank"><i class="fa fa-twitter"></i></a>
									<div class="ot-social-details">
										<div class="ot-social-count">13k</div>
										<div class="ot-social-type">Followers</div>
									</div>
								</div>
								{% endif %}
								{% if x.yt %}


								<div class="ot-social-button">
									<a href="{{x.yt}}" target="_blank"><i class="fa fa-youtube"></i></a>
									<div class="ot-social-details">
										<div class="ot-social-count">34k</div>
										<div class="ot-social-type">Subscibers</div>
									</div>
								</div>
								{% endif %}
								{% if x.lin %}
								<div class="ot-social-button">
									<a href="{{x.lin}}" target="_blank"><i class="fa fa-soundcloud"></i></a>
									<div class="ot-social-details">
										<div class="ot-social-count">4k</div>
										<div class="ot-social-type">Subscibers</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							 {% endif %}
							{% endfor %}

						</div>
						<div class="col-md-4 col-sm-4">
							<!-- footer widget start -->
							<div class="ot-footer-widget">
								<h4 class="footer-title"><span>Categories</span></h4>
								<div class="row">
									<div class="col-xs-6">
										<ol class="footer-categories">
											<li><a href="{% url 'home' %}">World</a></li>
											<li><a href="{% url 'ipl' %}">Sport</a></li>
											<li><a href="{% url 'country' %}">India</a></li>
											<li><a href="{% url 'corona' %}">Coronavirus</a></li>
											<li><a href="{% url 'entertainment' %}">Entertainment</a></li>
											<li><a href="{% url 'ncr' %}">Breaking</a></li>

										</ol>
									</div>
									<div class="col-xs-6">
										<ol class="footer-categories">
											<li><a href="{% url 'television' %}">TV SHOWS</a></li>
											<li><a href="{% url 'ipl' %}">Circket</a></li>
											<li><a href="{% url 'state' %}l">ALL State</a></li>
											<li><a href="{% url 'bihar' %}">Election</a></li>
											<li><a href="{% url 'haryana' %}">West Coast</a></li>
											<li><a href="{% url 'bollywood' %}">Bollywood</a></li>

										</ol>
									</div>
								</div>
							</div>
							<!-- footer widget end -->
							<!-- footer widget start -->
							<div class="ot-footer-widget">
								<h4 class="footer-title"><span>Advertisement</span></h4>
								<div class="ot-advert">
									<div class="row">
										<div class="col-xs-6">
											<div class="ot-ad-125"><a href="https://www.myntra.com/myntra-fashion-store?f=Brand%3AW%3A%3AGender%3Amen%20women%2Cwomen&rf=Discount%20Range%3A30.0_100.0_30.0%20TO%20100.0" target="_blank"><img src="{% static 'images/img_54.png' %}" style="width:200px;height:190px;" alt="" /></a></div>
										</div>
										<div class="col-xs-6">
											<div class="ot-ad-125"><a href="https://shop.bigbazaar.com/" target="_blank"><img src="{% static 'images/img_55.png' %}" style="width:200px;height:190px;" alt="" /></a></div>
										</div>
									</div>
								</div>
							</div>
							<!-- footer widget end -->
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- footer widget start -->
							{% block footer %}
							{% endblock footer %}
							<!-- footer widget end -->
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<i class="fa fa-copyright"></i> Copyright 2015. All rights reserved.<br />
					Theme made by <a href="http://www.orange-themes.com/">Orange Themes</a>
				</div>
			</footer>
		</div>
		<!-- boxed -->
		<!-- Bootstrap core and theme JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="{% static 'js/jquery-latest.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/demo-settings.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/themescripts.js' %}"></script>
	</body>

<!-- NRT/html/master.html NRT, Tue, 22 Dec 2015 07:07:44 GMT -->
</html>