{% extends 'index1.html' %}
{% load static %}
{% block title %}
State
{% endblock title %}
{% block content1 %}


						<div class="col-md-8">
							<div class="theiaStickySidebar">
								<div class="ot-module">
									<!-- classic grid posts section -->
									<h4 class="section-title"><span>The grid style box</span>Latest Posts</h4>

									<div class="row">
										{% for x in items %}
											<div class="col-md-6 col-sm-6">
												<div class="grid-post grid-gutter">
												<div class="post-image">
													<div class="post-title">
														<div class="post-cat2"><span>Fashion</span></div>
														<h2><a href="{% url 'state-detail' x.slug %}">{{x.caption|truncatechars:50}}</a></h2>
													</div>

									<a href="{% url 'state-detail' x.slug %}"><img src="{{x.s_image.url}}" style="width:100%;" alt=""></a>
												</div>
												<div class="post-body">
													<div class="post-meta">
														<span>{{x.date|date:" d M Y" }}</span> <span><a href="{% url 'state-detail' x.slug %}">{{st.id}} comments</a></span> <span>{{cc}} views</span>
													</div>
													<p>{{x.description|truncatechars:100|safe}}</p>
												</div>
												<div class="read-more"><a href="{% url 'state-detail' x.slug %}">read more</a></div>

											</div>

												</div>
										{% endfor %}
</div>
									<nav aria-label="Page navigation example">
		{% if items.has_other_pages %}
  <ul class="pagination">
	  {% if items.has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'state' %}?page={{items.previous_page_number}}">Previous</a></li>
	  {% endif %}
     {% for i in items.paginator.page_range %}
	  {% if items.number == i %}
	 <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
	  {% else %}
	  <li><a href="?page={{i}}">{{i}}</a></li>
	  {% endif %}
	  {% endfor %}

	  {% if items.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'state' %}?page={{items.next_page_number}}">Next</a></li>
	  {% endif %}
  </ul>
			{% endif %}
</nav>
			</div>
								</div>
								<!-- end ot-module -->
							</div>
							<!-- stickysidebar -->


	{% endblock content1 %}



