{% extends 'master.html' %}
{% load static %}
{% block title %}
Entertainment
{% endblock title %}
{% block dash %}Entertainment Page{% endblock dash %}
{% block dash1 %}Entertainment{% endblock dash1 %}
{% block msg %}					    <div class="dropdown d-none d-md-flex border-right">
											<a class="nav-link icon" data-toggle="dropdown" aria-expanded="false">
												<i class="fe fe-mail floating"></i>
												<span class=" nav-unread badge badge-warning  badge-pill">{{st.id}}</span>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">

												{% for msg in message %}
												<a href="/adminpannel11/contactmodel/" class="dropdown-item d-flex pb-3">

													<div>
														<strong class="text-dark">{{msg.name}}</strong> {{msg.comment|truncatechars:30}}

													</div>
												</a>
											{% endfor %}

												<div class="dropdown-divider"></div>
												<a href="/adminpannel11/contactmodel/" class="dropdown-item text-center">See all Messages</a>
											</div>
										</div>

{% endblock msg %}
{% block content %}
                              {% if messages %}
                                             {% for message in messages %}
                                             <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                                            {% endfor %}
                                             {% endif %}


								<div class="card">
									<div class="card-header ">
										<h3 class="card-title ">Projects</h3>
										<div class="card-options">
											<button id="add__new__list" type="button" class="btn btn-sm btn-success " data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"></i> Add a News</button>

										</div>
									</div>
									<div class="card-body">
									<div class="table-responsive">
										<table id="example" class="table table-striped table-bordered w-100">
											<thead>
												<tr>
												<th class="wd-15p">ID</th>
												<th class="wd-15p">Image</th>
												<th class="wd-20p">Caption</th>
												<th class="wd-15p">Description</th>
												<th class="wd-10p">Date</th>
												<th class="wd-25p">Edit Project Details </th>
											</tr>
											</thead>
											<tbody>
											{% for post in posts %}
												<tr>
													<th scope="row">{{forloop.counter}}</th>
													<td><img src="{{post.s_image.url}}" style="width:50px;height:40px;" alt=""></td>
													<td> {{post.caption|truncatechars:30}} </td>
													<td> {{post.description|truncatechars:50|safe}} </td>
													<td> {{post.date|date:"d M Y "}} </td>


													<td>
														<a class="btn btn-sm btn-dark" href="{% url 'up-entertainment' post.id %}"><i class="fa fa-edit"></i> Edit</a>
														<form action="{% url 'entertain' post.id %}" method="post" class="d-inline">
                                                     {% csrf_token %}
														 <input type="submit" class="btn btn-danger btn-sm"  value="Delete">
														</form>
													<a class="btn btn-sm btn-info" href="{% url 'enter-detail1' post.id %}"><i class="fa fa-info-circle"></i> Details</a> </td>
												</tr>
											 {% endfor %}

											</tbody>
										</table>
									</div>
								</div>
								</div>
{% endblock content %}

{% block formsubmit %}


		                                 {% if messages %}
                                             {% for message in messages %}
                                             <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
                                            {% endfor %}
                                             {% endif %}
						<form action="" method="POST" enctype="multipart/form-data" >
							{% csrf_token %}
							<!--{{form}}
							<div class="row">
								<div class="col-md-12">
									{{form.media}}
								</div>
							</div>-->

							<div class="form-group">
								<label for="listname">{{form.title.label}}</label>
								{{form.title}}
							</div>

							<div class="form-group">
								<label for="listname">{{form.caption.label}}</label>
								{{form.caption}}
							</div>

							<div class="form-group">
							<label for="listname">{{form.description.label}}</label>
								<div class="row">
									<div class="col-md-12" >
								{{form.media}}
								{{form.description}}
									</div></div>
							</div>
							<div class="form-group">
								<label for="listname">Detail Description</label>
								<div class="row">
									<div class="col-md-12">
										{{form.media}}
								{{form.d_description}}
									</div>
								</div>

							</div>
                            <div class="form-group">
								   <div class="form-row field-tags form-group">
                               <div>
                        <label class="required" for="listname">{{form.tags.label}}</label>
                            {{form.tags}}
                        <div class="help">A comma-separated list of tags.</div>
                             </div>
                                 </div>
							</div>

							<div class="form-group">
								<label for="listname">{{form.category.label}}</label>
								{{form.category}}
							</div>
							<div class="form-group">
								<label>{{form.s_image.label}}</label>
								{{form.s_image}}

							</div>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-block btn-primary">Submit</button>

							</div>
							<br>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
						</form>
{% endblock formsubmit %}
{% block footer %}
<footer class="footer">
						<div class="container">
							<div class="row align-items-center flex-row-reverse">
								<div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
									Copyright © 2018 - 2019 <a href="#">NRT</a>. Designed by <a href="#">NRT</a> All
									rights reserved.
								</div>
							</div>
						</div>
					</footer>
{% endblock footer %}
{% block head %}
Add Entertainment Model
{% endblock head %}
								{% block js1 %}

<script src="{% static 'plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'plugins/datatable/datatable.js' %}"></script>

		<!-- Select2 js -->
		<script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
{% endblock js1 %}
{% block rel %}
<!-- Data table css -->
		<link href="{% static 'plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
{% endblock rel %}
